/Tareas/Tarea 4/FabricaAnimales/nbproject/private/
/Examenes/1erParcial/biblioteca/nbproject/private/
/Examenes/1erParcial/biblioteca/build/
/Examenes/1erParcial/biblioteca/dist/
/Examenes/1erParcial/Autenticar/nbproject/private/
/Tareas/Tarea 5/ProxyPila/nbproject/private/
/Tareas/Tarea 4/FabricaAnimales/build/
/Tareas/Tarea 4/FabricaAnimales/dist/
/Tareas/Tarea 5/ProxyPila/build/
/Tareas/Tarea 6/nbproject/private/
/Tareas/Tarea 6/build/
/Examenes/2doParcial/GestionarViaje/target/
/Examenes/GestionarViaje/nbproject/private/
/Examenes/GestionarViaje/build/
/Examenes/Final/Cine/nbproject/private/
/Examenes/Final/Cine/build/
